{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Índice</th>
        <th>Temperatura</th>
        <th>Timestamp coleta</th>
        <th>Timestamp sync</th>
      </tr>
    </thead>
    <tbody>
      {% for dado in dados %}
        <tr>
          <td>{{ dado['id'] }}</td>
          <td>{{ dado['received_value'] }}</td>
          <td>{{ dado['timestamp_collected']|strftime }}</td>
          <td>{{ dado['timestamp_sync']|strftime }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
   {% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        paging: true,
        ordering: true,
        searching:false,
        info: true,
      });
    });
  </script>


  {% endblock %}
{% endblock %}